@import './field.scss';
@import './clock.scss';
@import './time-picker.scss';

.react-date-picker,
.react-date-picker__nav-bar,
.react-date-picker__date-picker,
.react-date-picker__basic-month-view {

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.react-date-picker {
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
}

.react-date-picker__nav-bar {
  &-arrow {
    user-select: none;
    cursor: pointer;
    position: relative;

    &--disabled {
      fill: #BFBFBF;
      cursor: default;
    }
  }

  &-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  svg {
    vertical-align: middle;
  }
}

.react-date-picker__transition-month-view {
  position: relative;
  overflow: hidden;
}

.react-date-picker__prev {
  transform: translate3d(-100%, 0px, 0px);
}

.react-date-picker__next {
  transform: translate3d(100%, 0px, 0px);
}

.react-date-picker--transition-left {
  transform: translate3d(-100%, 0px, 0px);

  &.react-date-picker__next {
    transform: translate3d(0%, 0px, 0px);
  }
}

.react-date-picker--transition-right {
  transform: translate3d(100%, 0px, 0px);

  &.react-date-picker__prev {
    transform: translate3d(0%, 0px, 0px);
  }
}

.react-date-picker__center {
  z-index: 10;
}

.react-date-picker__prev,
.react-date-picker__center,
.react-date-picker__next {
  &.react-date-picker--transition {
    transition-duration: 0.2s;
    transition-property: transform;
  }
}

.react-date-picker__prev,
.react-date-picker__next {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute !important;
}

.react-date-picker__month-view,
.react-date-picker__basic-month-view {

  position: relative;
  outline: none;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;

  &-week-day-name {
    padding: 5px 0px;
  }

  &-day--hidden {
    visibility: hidden;
  }

  &-day--disabled {
    color: #BFBFBF;
  }

  &-cell {
    flex: 1 0 auto;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &-row {
    display: flex;
    flex-flow: row;
    flex: 1;
  }

  &-week-day-names {
    flex: none;
  }
}

@import '~react-flex/index.scss';
