.react-date-picker__clock {
  display: inline-block;
  border: 5px solid red;
  border-radius: 50%;
  position: relative;
}

.react-date-picker__clock-hand,
.react-date-picker__clock-tick {
  position: absolute;
  // transform-origin: top;

  left: 50%;
  top: 50%;

  width: 1px;
  background: gray;
}

.react-date-picker__clock-hand {
  background: red;
}
