/*

 This file is part of the ZippyUI Framework

 Copyright (c) 2011 ZippyUI.com

 All rights reserved to zippyui.com
 This software cannot be used/copied/distributed without the express permission from staff at zippyui.com

 */
@import './utils.styl'

.date-picker
  display flex
  flex-flow column
  flex 1 0 auto

  &
  & *
    box-sizing border-box

  .dp-footer
    flex-flow row
    display flex

  .dp-body
    column true

  .dp-table
    size 100%
    column true

  .dp-row
    row true

  .dp-cell
    cell true

  .dp-nav-table
    row true
    width 100%
    .dp-cell
      flex 7
    .dp-nav-cell
      flex 1
