.react-date-picker__footer--theme-#{$THEME_NAME} {
  padding: 5px;

  .react-date-picker__footer-button {
    padding: 2px 3px;
    outline: none;
    position: relative;
    user-select: none;
    border: 1px solid $FIELD_BORDER_COLOR;
    background: white;
    font-size: inherit;

    &:active {
      top: 1px;
    }

    &:not(.react-date-picker__footer-button--disabled) {
      cursor: pointer;
      
      &:hover {
        background: $ACTIVE_COLOR;
        color: white;
      }
    }
  }

  .react-date-picker__footer-button + .react-date-picker__footer-button {
    margin-left: 3px;
  }
}
