$BLUE: rgb(52, 154, 239) !default;
$DAY_SIZE: 40px !default;
$DISABLED_DAY_COLOR: #D8D8D8 !default;

.react-date-picker__nav-bar-arrow {
  position: relative;

  &:not(.react-date-picker__nav-bar-arrow--disabled) {
    &:hover{
      opacity: 0.7;
    }

    &:active {
      top: 1px;
    }
  }

}
.react-date-picker__month-view {

  &-week-number {
    color: #B1B1B1;
  }

  &-day-text {

  }

  &-cell {
    min-width: $DAY_SIZE;
    // margin: 2px;
  }

  &-day {

    .react-date-picker__month-view-day-text {
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;

      min-width: $DAY_SIZE;
      min-height: $DAY_SIZE;

      max-width: $DAY_SIZE;
      max-height: $DAY_SIZE;

      display: flex;
      align-items: center;
      justify-content: center;

      // &:hover {
      //   border: 2px solid $BLUE;
      // }

    }

    &--value {
      .react-date-picker__month-view-day-text {
        border: 2px solid transparent;
        background: $BLUE padding-box;
        color: white;
      }
    }

    // &--active:not(.react-date-picker__month-view-day--disabled) {
    &--active {
      .react-date-picker__month-view-day-text {
        border: 2px solid $BLUE;
      }
    }
  }

  &-day--prev-month,
  &-day--next-month {
    color: gray;
  }

  &-day--weekend-highlight {
    color: red;

    &.react-date-picker__month-view-day--prev-month,
    &.react-date-picker__month-view-day--next-month {
      color: #BB4343;
    }
  }

  &-day--disabled {
    color: $DISABLED_DAY_COLOR;

    &.react-date-picker__month-view-day--prev-month,
    &.react-date-picker__month-view-day--next-month {
      color: $DISABLED_DAY_COLOR;
    }
  }
}
