
.react-date-picker__nav-bar-theme-default {
  background: #444;
  color: #fff;
}

.react-date-picker__nav-bar-arrow {
  position: relative;
  fill: #fff;
}

.react-date-picker__nav-bar-arrow:not(.react-date-picker__nav-bar-arrow--disabled):hover {
  opacity: 0.7;
  fill: #10C4B2;
}
  
.react-date-picker__month-view-week-number {
  color: #B1B1B1;
}

.react-date-picker__month-view-cell {
  min-width: 40px;
}

.react-date-picker__month-view-theme-default 
 .react-date-picker__month-view-day--in-range 
  .react-date-picker__month-view-day-text:after, 
.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--in-range
  .react-date-picker__month-view-day-text:before{
  background: #10C4B2;
}

.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--in-range
  .react-date-picker__month-view-day-text, 
.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--value
  .react-date-picker__month-view-day-text {
    border-radius: 50%;
    background: #10C4B2 padding-box;
    color: #000;
}
 
.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--range-start
  .react-date-picker__month-view-day-text, 
.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--range-end
  .react-date-picker__month-view-day-text {
  background: #10C4B2 padding-box;
}

.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--active
  .react-date-picker__month-view-day-text {
  border-radius: 50%;
  border-color: #10C4B2;
}


.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--in-range.react-date-picker__month-view-day--active:not(
  .react-date-picker__month-view-day--range-start ):not(
   .react-date-picker__month-view-day--range-end )
    .react-date-picker__month-view-day-text {
  background: #10C4B2;
}

.react-date-picker__month-view-theme-default
 .react-date-picker__month-view-day--in-range.react-date-picker__month-view-day--active
  .react-date-picker__month-view-day-text{
  border-color: #444;
}