$NAME: "flat";
$GREEN: #10C4B2 !default;

$DAY_SIZE: 40px !default;
$DISABLED_DAY_COLOR: #BBB !default;

$BACKGROUND: #fff !default;
$HEADER_BACKGROUND: #444 !default

$ACTIVE_RANGE_LIMITS_COLOR: #10C4B2 !default;
$ACTIVE_IN_RANGE_COLOR: #10C4B2  !default;

.react-date-picker__nav-bar-theme-#{$NAME} {
  background: $HEADER_BACKGROUND;
  color: #fff;

  .react-date-picker__nav-bar-arrow {
    position: relative;
    fill: #fff;

    &:not(.react-date-picker__nav-bar-arrow--disabled) {
      &:hover{
        opacity: 0.7;
        fill: #10C4B2;
      }

      &:active {
        top: 1px;
      }
    }
  }

}
$base: 'react-date-picker__month-view';

.#{$base}-theme-#{$NAME} {
  .#{$base}-week-number {
    color: #B1B1B1;
  }

  .#{$base}-day-text {

  }

  .#{$base}-cell {
    min-width: $DAY_SIZE;
  }

  .#{$base}-day {

    position: relative;

    .#{$base}-day-text {
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;

      min-width: $DAY_SIZE;
      min-height: $DAY_SIZE;

      max-width: $DAY_SIZE;
      max-height: $DAY_SIZE;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--in-range {
      overflow: hidden;
      .#{$base}-day-text {
        position: relative;
        &:after,
        &:before {
          position: absolute;
          height: 100%;
          top: 0px;
          bottom: 0px;
          width: 500%;
          z-index: -1;
          content: '';
          background: $GREEN;
        }

        &:before {
          right: 50%;
        }
        &:after {
          left: 50%;
        }
      }

      &.#{$base}-day--range-start {
        .#{$base}-day-text {
          border-radius: 50%;
          &:before {
            display: none;
          }
        }
      }

      &.#{$base}-day--range-end {
        .#{$base}-day-text {
          border-radius: 50%;
          &:after {
            display: none;
          }
        }
      }

      &.#{$base}-day--active {
        .#{$base}-day-text {
          border-color: #444;
        }
      }
      
      &.#{$base}-day--active:not(
        .#{$base}-day--range-start
      ):not(
        .#{$base}-day--range-end
      ) {
        .#{$base}-day-text {
          background: $ACTIVE_IN_RANGE_COLOR padding-box;
        }
      }
    }

    &--in-range,
    &--value {
      .#{$base}-day-text {
        border: 2px solid transparent;
        background: $GREEN padding-box;
      }
    }

    &--range-start,
    &--range-end {
      .#{$base}-day-text {
        background: $ACTIVE_RANGE_LIMITS_COLOR padding-box;
      }
    }

    &--active {
      .#{$base}-day-text {
        border: 2px solid $GREEN;
      }
    }
  }

  .#{$base}-day--prev-month,
  .#{$base}-day--next-month {
    color: gray;
  }

  .#{$base}-day--weekend-highlight {
    color: red;

    &.#{$base}-day--prev-month,
    &.#{$base}-day--next-month {
      color: #BB4343;
    }
  }

  .#{$base}-day--disabled {
    color: $DISABLED_DAY_COLOR;

    &.#{$base}-day--prev-month,
    &.#{$base}-day--next-month {
      color: $DISABLED_DAY_COLOR;
    }
  }
}
